@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,body {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: min(90%, 1024px);
    margin: 0 auto;
}

.cards {
    display: flex;
    flex-direction: columns;
    flex-wrap: wrap;
    gap: 1.5em;
}

.card {
    flex: 1 230px;
}

.badge {
    @apply absolute text-sm rounded-lg shadow-md
}

.badge-sold-out {
    @apply top-4 left-4 px-4 py-2 text-white bg-red-700 
}

.badge-sold-online {
    @apply top-4 right-4 px-3 py-2 bg-white text-red-700 
}